.header-container {
    display: flex;
    height: 900px;
    width: 100vw;
}

.photo-shape {
    display: flex;
    position: absolute;
    top: 379px;
    width: 100vw;
    height: 1010px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.photo {
    display: flex;
    position: absolute;
    top: 90px;

    img {
        max-width: 646px;
        max-height: 805px;
    }
}

.photo-shadow {
    display: flex;
    position: absolute;
    height: 80%;
    left: 110px;
    top: 220px;
    overflow: hidden;
}

.headline {
    display: flex;
    position: absolute;
    top: 237px;
    right: 100px;
    align-items: center;
}

.left-headline {
    color: white;
    rotate: 270deg;
    font-size: 64px;
    white-space: nowrap;
    position: relative;
    left: 9px;
}

.headline-name {
    color: white;
    font-size: 80px;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    top: 9px;
}

.headline-job {
    color: rgb(72, 69, 242);
    position: relative;
    top: -10px;
    font-size: 58px;
    font-weight: 400;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.lets-talk-button {
    display: flex;
    position: absolute;
    top: 225px;
    right: 260px;
    min-width: 168px;
    min-height: 58px;
    cursor: pointer;
    transition: transform 325ms ease-in-out;
    z-index: 4;
}

.lets-talk-button:hover {
    transform: scale(1.1);
}

.lets-talk-button a {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: rgb(1, 186, 227);
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
}

.lets-talk-button a:hover {
    background-color: rgb(72, 69, 242);
}

.contact-headline {
    display: flex;
    position: absolute;
    top: 830px;
    align-items: center;
    gap: 42px;
    z-index: 2;
    width: 100%;


    a {
        text-decoration: none;
        color: white;
        font-size: 23px;
        font-weight: 400;

        &:hover {
            color: rgb(1, 187, 228);
        }
    }
}

.contact-border-line {
    border: 2px solid rgb(1, 187, 228);
    width: 100px;
}

.contact-icon-box {
    display: flex;
    gap: 42px;
}

.contact-icon {
    display: flex;

    &:hover {
        scale: 1.2;
    }
}

.scrollDownContainer {
    display: flex;
    position: absolute;
    right: 35px;
    rotate: 90deg;
    color: white;
    top: 770px;
    align-items: center;
    flex-direction: row;
    font-size: 23px;
    line-height: 27px;
    z-index: 3;
    cursor: default;
    animation: moveUpDown 2s linear infinite;

    img {
        rotate: 270deg;
    }
}

@keyframes moveUpDown {

    0%,
    100% {
        top: 770px;
    }

    50% {
        top: 740px;
        /* Ändere diese Zahl, um die vertikale Entfernung zu steuern */
    }
}

@keyframes jumpIcon {
    0% {
        animation-timing-function: ease-in;
        transform: translateX(-12px);
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateX(-8px);
    }

    60% {
        animation-timing-function: ease-in;
        transform: translateX(-5px);
    }

    80% {
        animation-timing-function: ease-in;
        transform: translateX(-2px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateX(0px);
    }
}


@media screen and (min-width: 3000px) {
    .photo {
        left: 25%;
    }

    .photo-shadow {
        left: 17%;
    }

    .headline {
        right: 24.5%;
    }

    .contact-border-line {
        border: 2px solid rgb(1, 187, 228);
        width: 25%;
    }


    .scrollDownContainer {
        right: 23%;
    }
}



@media screen and (max-width: 3000px) {
    .photo {
        left: 20%;
    }

    .photo-shadow {
        left: 12%;
    }

    .headline {
        right: 19.5%;
    }

    .contact-border-line {
        border: 2px solid rgb(1, 187, 228);
        width: 20%;
    }

    .scrollDownContainer {
        right: 18%;
    }
}


@media screen and (max-width: 1900px) {
    .photo {
        left: 10%;
    }

    .photo-shadow {
        left: 2%;
    }

    .headline {
        right: 9.5%;
    }

    .contact-border-line {
        border: 2px solid rgb(1, 187, 228);
        width: 10%;
    }


    .scrollDownContainer {
        right: 8%;
    }
}



@media screen and (max-width: 1350px) {
    .headline-name {
        font-size: 66px;
    }

    .left-headline {
        font-size: 50px;
    }

    .headline-job {
        top: -14px;
        font-size: 45px;
    }

    .lets-talk-button {
        top: 185px;
        right: 170px;
    }

    .photo-shape {
        width: 100%;

        img {
            width: auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .headline-name {
        font-size: 50px;
    }

    .left-headline {
        font-size: 35px;
    }

    .headline-job {
        top: -13px;
        font-size: 35px;
    }

    .lets-talk-button {
        top: 135px;
        right: 110px;
    }

    .photo {
        top: 120px;
        left: 90px;

        img {
            max-height: 720px;
        }
    }
}

@media screen and (max-width: 950px) {
    .photo {
        top: 160px;
        left: 90px;

        img {
            max-height: 620px;
        }
    }
}



@media screen and (max-width: 900px) {
    .scrollDownContainer {
        display: none;
    }

    .headline {
        top: 680px;
        right: 0px;
        left: 0px;
        align-items: center;
        justify-content: center;
    }

    .lets-talk-button {
        top: 130px;
        right: -20px;
        left: 0px;
        display: flex;
        justify-content: center;
    }

    .contact-headline {
        top: 920px;
    }

    .photo {
        top: 100px;
        right: 0px;
        display: flex;
        justify-content: center;
    }

    .photo-shape {
        top: 266px;
    }

    .photo-shadow {
        top: 140px;
        left: 0px;
        right: 0px;
        justify-content: center;
    }


}

@media screen and (max-width: 667px) {
    .email-adress {
        display: none;
    }

    .photo {
        height: 465px;
    }

    .photo-shape {
        top: 150px;
    }

    .headline {
        top: 560px;
        right: 15px;
        left: -15px;
    }

    .headline-name {
        font-size: 40px;
    }

    .headline-job {
        top: -3px;
        font-size: 27px;
        white-space: nowrap;
    }

    .left-headline {
        font-size: 27px;
        top: 6px;
    }

    .lets-talk-button {
        top: 120px;
    }

    .contact-headline {
        top: 800px;
    }

    .contact-icon-box {
        width: 100vw;
        left: -4px;
        right: 0px;
        position: absolute;
        justify-content: center;
    }
}

@media screen and (max-width: 470px) {

    .contact-border-line {
        width: 10%;
    }

}