<div class="header-container" id="header">
    <div class="photo-shadow">
        <img src="assets/img/photo-shadows.png" alt="" srcset="" />
    </div>
    <div class="photo"><img src="assets/img/me2.png" alt="photo" /></div>
    <div class="photo-shape"><img src="assets/img/Vector.png" /></div>
    <div class="headline">
        <div translate class="left-headline">I am</div>
        <div class="right-headline">
            <div class="headline-name">Karol Kowalczyk</div>
            <div class="headline-job">FRONTEND DEVELOPER</div>
        </div>
        <div  class="lets-talk-button"><a translate href="#contact">Let's talk!</a></div>
    </div>
    <div class="contact-headline">
        <div class="contact-border-line"></div>
        <div class="contact-icon-box">
            <a class="contact-icon" href="https://github.com/karol-kowalczyk" target="_blank"><img src="assets/img/GithubButton.png"/></a>
            <a class="contact-icon" href="mailto:mail@kowalczyk-karol.de"><img src="assets/img/EmailButton.png" /></a>
            <a class="contact-icon" href="https://www.linkedin.com/in/kowalczyk-karol/" target="_blank"><img
                src="assets/img/LinkedinButton.png" /></a>
        </div>
        <div class="email-adress">
            <a href="mailto:mail@kowalczyk-karol.de">mail&#64;kowalczyk-karol.de</a>
        </div>
    </div>
    <div translate class="scrollDownContainer">
        Scroll down <img src="assets/img/arrow-down-line.png" />
    </div>
    
</div>