<div class="headerContainer">
    <div class="photoShadow">
        <img src="assets/img/photo-shadows.png" alt="" srcset="" />
    </div>
    <div class="photo"><img src="assets/img/me2.png" alt="photo" /></div>
    <div class="photoShape"><img src="assets/img/Vector.png" /></div>
    <div class="headline">
        <div translate class="leftHeadline">I am</div>
        <div class="rightheadline">
            <div class="headlineName">Karol Kowalczyk</div>
            <div class="headlineJob">FRONTEND DEVELOPER</div>
        </div>
        <div  class="letsTalkButton"><a translate href="#contact">Let's talk!</a></div>
    </div>
    <div class="contactHeadline">
        <div class="contactBorderLine"></div>
        <div class="contactIconBox">
            <a class="contactIcon" href="https://github.com/karol-kowalczyk" target="_blank"><img src="assets/img/GithubButton.png"/></a>
            <a class="contactIcon" href="mailto:info@karol-kowalczyk.de"><img src="assets/img/EmailButton.png" /></a>
            <a class="contactIcon" href="https://www.linkedin.com/in/karol-kowalczyk-5b4523282/" target="_blank"><img
                src="assets/img/LinkedinButton.png" /></a>
        </div>
        <div class="emailAdress">
            <a href="mailto:eduardmayer1@web.de">info&#64;karol-kowalczyk.de</a>
        </div>
    </div>
    <div translate class="scrollDownContainer">
        Scroll down <img src="assets/img/arrow-down-line.png" />
    </div>
    
</div>