<div class="footerContainer">
    <div class="footerLineContainer">
        <div class="initialsContainer">
            <img routerLink="/" src="assets/img/logo-white.png">
        </div>
        <div class="impPriContainer"><a routerLink="/impressum">Impressum</a> | <a routerLink="/privacy-policy">{{ 'footerPrivacyPolicyLink' | translate }}</a></div>
    </div>
    <div class="copyRightContainer">
        <span>
            <p>© Karol Kowalczyk 2024</p>
        </span>
    </div>
    <div class="contactFooter">
        <a class="contactIcon" href="https://github.com/EduardMayer" target="_blank"><img src="assets/img/GithubButton.png" /></a>
        <a class="contactIcon" href="mailto:info@mayer-eduard.de"><img src="assets/img/EmailButton.png" /></a>
        <a class="contactIcon" href="https://www.linkedin.com/in/eduard-mayer-4a6202257/" target="_blank"><img
                src="assets/img/LinkedinButton.png" /></a>
    </div>

    <div class="impPriContainerResponsiv"><a routerLink="/impressum">Impressum</a> | <a routerLink="/privacy-policy">{{ 'footerPrivacyPolicyLink' | translate }}</a></div>
</div>
