.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 291px;
    border-top: 4px solid rgb(1,186,227);
    color: white;
    background-color: rgba(20, 29, 47, 1);
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 90px;
}


.footer-line-container{
    display: flex;
    flex-direction: column;
    gap: 5px;

    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(1,186,227);
            bottom: 0px; /* Positionieren Sie den Unterstrich unterhalb des Texts */
            left: 0;
            transform: scaleX(0); /* Starten Sie ohne Breite (unsichtbar) */
            transform-origin: left center;
            transition: transform 0.30s ease-in-out;
          }
        
          &:hover {
            color: rgb(72,69,242);
            &::before {
              transform: scaleX(1); /* Unterstrich von links nach rechts ausdehnen */
            }
          }
    }
}

.copy-right-container{
    display: flex;
    p {
       font-size: 28px; 
    }
}

.contact-footer{
    display: flex;
    gap: 42px;
}

.contact-icon{
    display: flex;

    &:hover{
        scale: 1.2;
    }
}

.imp-pri-containerR-responsive {
    display: none;
}

@media screen and (min-width: 3000px) {
    .footer-container{
    padding-left: 25%;
    padding-right: 25%;
    }
}

@media screen and (max-width: 3000px) {
    .footer-container{
    padding-left: 20%;
    padding-right: 20%;
    }
}



@media screen and (max-width: 1900px) {
    .footer-container{
    padding-left: 10%;
    padding-right: 10%;
    }
}


@media screen and (max-width: 900px) {
    
    .footer-container{
        padding-top: 66px;
        flex-direction: column;
        justify-content: center;
      
    }

    .imp-pri-container{
        display: none;
    }

    .imp-pri-containerR-responsive{
    display: flex;
    gap: 5px;
    padding-top: 28px;
    padding-bottom: 73px;
    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: rgb(1,186,227);
            bottom: 0px; /* Positionieren Sie den Unterstrich unterhalb des Texts */
            left: 0;
            transform: scaleX(0); /* Starten Sie ohne Breite (unsichtbar) */
            transform-origin: left center;
            transition: transform 0.30s ease-in-out;
          }
        
          &:hover {
            color: rgb(72,69,242);
            &::before {
              transform: scaleX(1); /* Unterstrich von links nach rechts ausdehnen */
            }
          }
    }
    }

    @media screen and (max-width: 767px) {
        .footer-container {
            padding-top: 66px;
            padding-left: 0px;
            padding-right: 0px;
          
        }
    }
    
}

