<div class="footer-container">
    <div class="footer-line-container">
        <div class="imp-pri-container"><a routerLink="/impressum">Impressum</a> | <a routerLink="/privacy-policy">{{ 'footerPrivacyPolicyLink' | translate }}</a></div>
    </div>
    <div class="copy-right-container">
        <span>
            <p>© Karol Kowalczyk 2024</p>
        </span>
    </div>
    <div class="contact-footer">
        <a class="contact-icon" href="https://github.com/karol-kowalczyk" target="_blank"><img src="assets/img/GithubButton.png" /></a>
        <a class="contact-icon" href="mailto:mail@kowalczyk-karol.de"><img src="assets/img/EmailButton.png" /></a>
        <a class="contact-icon" href="https://www.linkedin.com/in/karol-kowalczyk-5b4523282/" target="_blank"><img
                src="assets/img/LinkedinButton.png" /></a>
    </div>

    <div class="imp-pri-containerR-responsive"><a routerLink="/impressum">Impressum</a> | <a routerLink="/privacy-policy">{{ 'footerPrivacyPolicyLink' | translate }}</a></div>
</div>
