<div class="aboutMeContainer" id="aboutMe">
    <div class="backgroundShadow">
        <img src="assets/img/purple1.png" alt="purple-color">
    </div>
    <div class="aboutMeDescription">
        <h2 translate>About me</h2>
        <span>
            <p >{{ 'intro' | translate }} {{ 'about' | translate }} {{ 'goal' | translate }}</p>
        </span>

        <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine" class="bulbContainer">
            <div><img src="assets/img/bulbdesktop.png" alt="" srcset=""></div>
            <span>"{{ 'experienced' | translate }}" </span>
        </div>

        <div data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine" class="puzzleContainer">
            <div><img src="assets/img/puzzledesktop.png" alt="" srcset=""></div>
            <span >"{{ 'communication' | translate }}"</span>
        </div>
    </div>

    <div class="aboutMePhotoContainer">
        <div class="aboutMePhoto">
            <img src="assets/img/me1.png" alt="" srcset="">
        </div>
        <div class="aboutMeBorderRight"></div>
    </div>


</div>