<div class="about-me-container" id="aboutMe">
    <div class="background-shadow">
        <img src="assets/img/purple1.png" alt="purple-color">
    </div>
    <div class="about-me-description">
        <h2 translate>About me</h2>
        <span>
            <p >{{ 'intro' | translate }} {{ 'about' | translate }} {{ 'goal' | translate }}</p>
        </span>

        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="bulb-container">
            <div><img src="assets/img/bulbdesktop.png" alt="" srcset=""></div>
            <span>"{{ 'communication' | translate }}" </span>
        </div>

        <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="puzzle-container">
            <div><img src="assets/img/puzzledesktop.png" alt="" srcset=""></div>
            <span >"{{ 'experienced' | translate }}"</span>
        </div>
    </div>

    <div class="about-me-photo-container">
        <div class="about-me-photo">
            <img src="assets/img/me1.png" alt="" srcset="">
        </div>
        <div class="about-me-border-right"></div>
    </div>


</div>