<div [formGroup]="form" class="contact-container" id="contact">
  <span class="headline">
    <div class="headline-border"></div>
    <h2 translate>Contact</h2>
  </span>

  <div class="headline-text-contact-container">
    <div class="headline-text">
      <div data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
        <h3 translate>Got a problem to solve?</h3>
      </div>
      <div data-aos="fade-up"
      data-aos-duration="3000">
      <p>{{ 'contactFormDescription' | translate }}</p>
      </div>
      <div data-aos="fade-up"
      data-aos-duration="3000">
      <p>{{ 'needFrontendDevMessage' | translate }} <b translate>Contact me!</b></p>
      </div>
    </div>
    <div class="contact-box">
      <div class="form-container">
        <form  action="javascript:void(0)"
        method="POST" (ngSubmit)="sendMail()" [formGroup]="form">
    
          <div class="input-container">
            <input [ngClass]="{
              'green-border': form.get('from_name')?.valid,
              'red-border': form.get('from_name')?.invalid && (form.get('from_name')?.dirty || form.get('from_name')?.touched)
            }" 
            minlength="3" 
            onkeydown="return /[a-z, ]/i.test(event.key)" 
            formControlName="from_name" 
            [placeholder]="'placeholderName' | translate" 
            type="text" 
            name="name" />
    
            <div *ngIf="form.controls['from_name'].invalid && (form.controls['from_name'].dirty || form.controls['from_name'].touched)">
              <span class="required-informations" *ngIf="form.controls['from_name'].errors?.['required']">
                {{ 'nameRequiredErrorMessage' | translate }}
              </span>
              <span class="required-informations" *ngIf="form.controls['from_name'].errors?.['minlength']">
                {{ 'nameMinLengthErrorMessage' | translate }}
              </span>
            </div>
    
            <div class="error-image" *ngIf="form.controls['from_name'].invalid && (form.controls['from_name'].dirty || form.controls['from_name'].touched)">
              <img src="assets/img/error.png" alt="Error Icon">
            </div>
    
            <div class="confirm-image" *ngIf="form.controls['from_name'].valid">
              <img src="assets/img/confirm.png" alt="Confirm Icon">
            </div>
          </div>
    
          <div class="input-container">
            <input [ngClass]="{
              'green-border': form.get('from_email')?.valid,
              'red-border': form.get('from_email')?.invalid && (form.get('emailInput')?.dirty || form.get('from_email')?.touched)
            }" 
            formControlName="from_email" 
            [placeholder]="'placeholderEmail' | translate" 
            type="email" 
            name="email" />
    
            <div *ngIf="form.controls['from_email'].invalid && (form.controls['from_email'].dirty || form.controls['from_email'].touched)">
              <span class="required-informations" *ngIf="form.controls['from_email'].errors?.['required']">
                {{ 'emailRequiredErrorMessage' | translate }}
              </span>
              <span class="required-informations" *ngIf="form.controls['from_email'].hasError('email')">
                {{ 'invalidEmailErrorMessage' | translate }}
              </span>
            </div>
    
            <div class="error-image" *ngIf="form.controls['from_email'].invalid && (form.controls['from_email'].dirty || form.controls['from_email'].touched)">
              <img src="assets/img/error.png" alt="Error Icon">
            </div>
    
            <div class="confirm-image" *ngIf="form.controls['from_email'].valid">
              <img src="assets/img/confirm.png" alt="Confirm Icon">
            </div>
          </div>
    
          <div class="input-container">
            <textarea [ngClass]="{
              'green-border': form.get('message')?.valid,
              'red-border': form.get('message')?.invalid && (form.get('message')?.dirty || form.get('message')?.touched)
            }" 
            formControlName="message" 
            [placeholder]="'placeholderMessage' | translate" 
            cols="30" 
            rows="10"></textarea>
    
            <div *ngIf="form.controls['message'].invalid && (form.controls['message'].dirty || form.controls['message'].touched)">
              <span class="required-informations" *ngIf="form.controls['message'].errors?.['required']">
                {{ 'messageRequiredErrorMessage' | translate }}
              </span>
              <span class="required-informations" *ngIf="form.controls['message'].errors?.['minlength']">
                {{ 'messageMinLengthErrorMessage' | translate }}
              </span>
            </div>
    
            <div class="error-image" *ngIf="form.controls['message'].invalid && (form.controls['message'].dirty || form.controls['message'].touched)">
              <img src="assets/img/error.png" alt="Error Icon">
            </div>
    
            <div class="confirm-image" *ngIf="form.controls['message'].valid">
              <img src="assets/img/confirm.png" alt="Confirm Icon">
            </div>
          </div>

          <div class="button-container">
            <button class="send-message-button" 
              [title]="form.valid ? '' : 'First you need to fill out the contact form'" 
              [disabled]="!form.valid">
              <span>{{ 'sendMessageButtonText' | translate }}</span>
            </button>
          </div>
        </form>
      </div>
      <div class="contact-background-shadow"><img src="assets/img/purple3.png" alt=""></div>
    </div>
    
  </div>
  <div class="go-up-container">
    <a routerLink="/">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 15.828L13.343 20.485C12.9525 20.8755 12.3194 20.8755 11.929 20.485C11.5385 20.0945 11.5385 19.4615 11.929 19.071L18.2928 12.7071C18.6834 12.3166 19.3165 12.3166 19.7071 12.7071L26.071 19.071C26.4614 19.4615 26.4614 20.0945 26.071 20.485C25.6805 20.8755 25.0474 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5522 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z" fill="white"/>
        <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="white" stroke-width="2"/>
      </svg>
    </a>
  </div>

    
 
  <div class="confirmation-message-in" 
  [ngClass]="{'confirmation-error-message-in': errorInfo, 'confirmation-message-out': !formSending}" 
  *ngIf="formSending || alreadySend">
  <span *ngIf="!errorInfo">{{ 'messageSentSuccess' | translate }}</span>
  <span *ngIf="errorInfo">{{ 'messageSentError' | translate }}</span>
</div>