<div id="mySkills" class="scroll-adjust"></div>
<div class="skill-container" >
    <div class="lets-talk-button-responsive">
        <a translate href="#contact">Get in touch</a>
    </div>
    <div class="background-shadow-skill">
        <img src="assets/img/blue1.png" alt="" srcset="">
    </div>
    <div class="skill-icon-container">
        <div  data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000" class="skill-icon-box" *ngFor="let icon of skillIcon"><img src="assets/img/{{icon}}.png" alt="{{icon}}"
                srcset=""><span>{{icon}}</span></div>
    </div>
    <div class="skill-text-container">
        <div class="skill-headline">
            <span><h2 translate>My skills</h2></span>
            <div class="skill-border-right"></div>
        </div>
        <span><p class="experience-details">{{ 'experienceDetails' | translate }}</p></span>
        <div class="lets-talk-button"><a translate href="#contact">Get in touch</a></div>
    </div>
</div>