<div class="portfolio-headline-container" id="portfolio">
    <span class="portfolio-headline-box">
        <div class="skill-border-left"></div>
        <span>
            <h2>Portfolio</h2>
        </span>
        <div class="skill-border-right"></div>
    </span>
</div>

<span class="headline-text-container">
    <p>{{ 'sampleWorkDetails' | translate }}</p>
</span>


<div class="all-projects-container">
    <div class="portfolio-background"><img src="assets/img/purple2.png"></div>
    <div class="second-portfolio-background"><img src="assets/img/light1.png"></div>
    <div *ngFor="let project of projects; let i = index">
      <div [ngStyle]="{ 'flex-direction': i % 2 !== 0 ? 'row-reverse' : 'row' }"
        [attr.data-aos]="i % 2 !== 0 ? 'fade-left' : 'fade-right'" class="portfolio-project-container">
        <div class="project-image-container" [ngStyle]="{ 'justify-content': i % 2 !== 0 ? 'flex-end' : 'flex-start' }">
          <img src="assets/img/{{ project.image }}">
        </div>
        <div class="project-text-container">
          <div class="project-text" [ngStyle]="{ 'text-align': i % 2 !== 0 ? 'end' : 'start' }">
            <span class="project-name">{{ project.name }}</span>
            <span class="project-languages">{{ project.languages }}</span>
            <span class="project-description">{{ getProjectDescription(project) }}</span>
          </div>
          <div class="project-buttons-container" [ngStyle]="{ 'justify-content': i % 2 !== 0 ? 'flex-end' : 'flex-start' }">
            <div class="live-test" [ngStyle]="{ 'display': project.name === 'My website' ? 'none' : 'flex' }">
              <a href="{{ project.url }}" target="_blank">
                <span>{{ 'Live test' }}</span>
              </a>
            </div>
            <div class="github">
              <a href="{{ project.github }}" target="_blank">
                <span>{{ 'Github' }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>