<div class="impressum-container">
    <h1>Impressum</h1>
    <div>
        <span>
            Angaben gemäß § 5 TMG: <br> <br>

            Karol Kowalczyk <br>
            Darler Heide 88 <br>
            45891 Gelsenkirchen <br>
            Deutschland <br> <br>

            <b>Kontakt:</b> <br>

            <p>Telefon: <a href="tel:+4915174355523">+4915174355523</a><br />
                E-Mail: <a class="mail-link" href="mailto:mail@kowalczyk-karol.de">mail&#64;kowalczyk-karol.de</a></p>

        </span>
</div>